
<!-- shadow -->
<div class="shadow"></div>
<!-- banner
<div class="banner" style="background:url(http://file.myblogbo.com/banner.jpg);">  -->
<div class="banner" style="background: url(${CTPATH}/images/banner.jpg);">

	<!-- header -->
	<div class="header container">
		<!--个人信息-->
		<div class="row">
			<div class="col-md-12">
				<div class="personInfo">
					<div class="logo">
					    <a href="${CPATH!}/">
					    <img src="${CTPATH}/images/logo.jpg">
					   	<!--  <img src="${CTPATH}/picture/kide.jpg" alt="logo"> 
						   	<#if OPTION('simple_logo_image')??>
								<img src="${CPATH}${OPTION('simple_logo_image')!}">
							<#else> 
								<img src="${CTPATH}/images/logo.jpg">
						    </#if>
						    -->
					    </a>
					</div>
					<div class="logoTheme">
						<h3>どんな人生を選ぶかより、選んだ人生をどう生きるかが大切だ</h3>
					</div>
				</div>				
			</div>
		</div>
	</div> 
</div>