<meta charset="utf-8" />
<title>${WEB_TITLE!WEB_NAME!}${WEB_SUBTITLE!}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />    
<meta name="HandheldFriendly" content="True" /> 
<meta name="keywords" content="${META_KEYWORDS!},${WEB_TITLE!WEB_NAME!}">
<meta name="description" content="${META_DESCRIPTION!}">
   
<link rel="shortcut icon" href="${CTPATH}/images/share.ico"/>
<link rel="stylesheet" type="text/css" href="${CTPATH}/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="${CTPATH}/css/font-awesome.min.css"/>  
<link rel="stylesheet" type="text/css" media="all" href="${CTPATH}/css/style.css"/>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="${CTPATH}/js/html5shiv.min.js"></script>
<script src="${CTPATH}/js/respond.min.js"></script>
<![endif]-->

